.image{
   position: relative; 
   left: 700px;
   top: 300px;
    height: auto; 
    width: auto; 
    max-width: 500px; 
    max-height: auto;
}

.lbody { 
   position: absolute; 
   top: 50px; 
   left: 35px;
   width: 100%; 
   font-size: 21px;
   font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
   font-weight: bolder;
}

.rbody { 
   position: absolute; 
   text-align: right;
   bottom: 30px;
   right: 40px;
   width: 100%; 
   font-size: 21px;
   font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif; 
   font-weight: bolder;
}


.link a:hover {
  text-decoration: none;
  color:#990000;

}

.link a{
  text-decoration: none;
  color: black;
}

body {
    background-image: url("images/16 copy.jpg");
    background-repeat: repeat-x;
}