.nav{
	position:fixed;
	top: 25px;
	right: 25px;
}

#feel{
	float:left;
}

#syntax{
	position: relative;
}

#syn2ax{
	position: relative;
	top: -50px;
}

#syn3ax{
	position: relative;
	top: -100px;
}

#fool{
	position: relative;
	top:-100px;
	float:right;
}

#swear{
	position: relative;
}

#sw2ar{
	position: relative;
	top: -70px;
}

#sw3ar{
	position: relative;
	top: -150px;
}

#we{
	position: relative;
	top:-100px;
	float:right;
}

#laugh{
	position: relative;
	top: -70px;
}

#la2gh{
	position: relative;
	top: -100px;
}

#la3gh{
	position: relative;
	top: -150px;

#death{
	position: relative;
	top: -50px;
	float:left;
}


	
}




